USE [master]
GO
/****** Objeto:  Database [Apostas]    Data do Script: 02/06/2026 22:45:34 ******/
CREATE DATABASE [Apostas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Apostas', FILENAME = N'/var/opt/mssql/data/Apostas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Apostas_log', FILENAME = N'/var/opt/mssql/data/Apostas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Apostas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Apostas]
GO
/****** Objeto:  Table [dbo].[Aposta]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aposta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Jogo] [int] NOT NULL,
	[ID_Utilizador] [int] NOT NULL,
	[Tipo_Aposta] [char](1) NOT NULL,
	[Montante] [decimal](10, 2) NOT NULL,
	[Odd_Momento] [decimal](10, 2) NOT NULL,
	[Estado] [int] NOT NULL,
	[Data_Realizacao] [datetime] NULL,
 CONSTRAINT [PK_Aposta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Jogo]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_Jogo] [nvarchar](20) NOT NULL,
	[Data_Inicio] [date] NOT NULL,
	[Hora_Inicio] [time](7) NOT NULL,
	[Equipa_Casa] [nvarchar](100) NOT NULL,
	[Equipa_Fora] [nvarchar](100) NOT NULL,
	[Tipo_Competicao] [nvarchar](50) NULL,
	[Estado] [int] NOT NULL,
	[Golos_Casa] [int] NULL,
	[Golos_Fora] [int] NULL,
 CONSTRAINT [PK_Jogo_Apostas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Jogo_Codigo_Apostas] UNIQUE NONCLUSTERED 
(
	[Codigo_Jogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Resultado]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultado](
	[ID_Jogo] [int] NOT NULL,
	[Golos_Casa] [int] NOT NULL,
	[Golos_Fora] [int] NOT NULL,
	[Data_Atualizacao] [datetime] NULL,
 CONSTRAINT [PK_Resultado] PRIMARY KEY CLUSTERED 
(
	[ID_Jogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Utilizador]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizador](
	[ID_Utilizador] [int] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Data_Registo] [datetime] NOT NULL,
 CONSTRAINT [PK_Utilizador] PRIMARY KEY CLUSTERED 
(
	[ID_Utilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Utilizador_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Utilizador_Nome] UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aposta] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Aposta] ADD  DEFAULT (getdate()) FOR [Data_Realizacao]
GO
ALTER TABLE [dbo].[Jogo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Resultado] ADD  DEFAULT (getdate()) FOR [Data_Atualizacao]
GO
ALTER TABLE [dbo].[Utilizador] ADD  DEFAULT (getdate()) FOR [Data_Registo]
GO
ALTER TABLE [dbo].[Aposta]  WITH CHECK ADD  CONSTRAINT [FK_Aposta_Jogo] FOREIGN KEY([ID_Jogo])
REFERENCES [dbo].[Jogo] ([ID])
GO
ALTER TABLE [dbo].[Aposta] CHECK CONSTRAINT [FK_Aposta_Jogo]
GO
ALTER TABLE [dbo].[Resultado]  WITH CHECK ADD  CONSTRAINT [FK_Resultado_Jogo] FOREIGN KEY([ID_Jogo])
REFERENCES [dbo].[Jogo] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resultado] CHECK CONSTRAINT [FK_Resultado_Jogo]
GO
ALTER TABLE [dbo].[Aposta]  WITH CHECK ADD  CONSTRAINT [CHK_Aposta_Estado] CHECK  (([Estado]=(4) OR [Estado]=(3) OR [Estado]=(2) OR [Estado]=(1)))
GO
ALTER TABLE [dbo].[Aposta] CHECK CONSTRAINT [CHK_Aposta_Estado]
GO
ALTER TABLE [dbo].[Aposta]  WITH CHECK ADD  CONSTRAINT [CHK_Aposta_Montante] CHECK  (([Montante]>(0)))
GO
ALTER TABLE [dbo].[Aposta] CHECK CONSTRAINT [CHK_Aposta_Montante]
GO
ALTER TABLE [dbo].[Aposta]  WITH CHECK ADD  CONSTRAINT [CHK_Aposta_Odd] CHECK  (([Odd_Momento]>(1.0)))
GO
ALTER TABLE [dbo].[Aposta] CHECK CONSTRAINT [CHK_Aposta_Odd]
GO
ALTER TABLE [dbo].[Aposta]  WITH CHECK ADD  CONSTRAINT [CHK_Aposta_Tipo] CHECK  (([Tipo_Aposta]='2' OR [Tipo_Aposta]='X' OR [Tipo_Aposta]='1'))
GO
ALTER TABLE [dbo].[Aposta] CHECK CONSTRAINT [CHK_Aposta_Tipo]
GO
ALTER TABLE [dbo].[Jogo]  WITH CHECK ADD  CONSTRAINT [CHK_Jogo_Estado] CHECK  (([Estado]=(5) OR [Estado]=(4) OR [Estado]=(3) OR [Estado]=(2) OR [Estado]=(1)))
GO
ALTER TABLE [dbo].[Jogo] CHECK CONSTRAINT [CHK_Jogo_Estado]
GO
/****** Objeto:  StoredProcedure [dbo].[SP_AtualizarEstadoEResultadoJogo]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── 2. SP_AtualizarEstadoEResultadoJogo — guarda golos durante o jogo ────────
CREATE PROCEDURE [dbo].[SP_AtualizarEstadoEResultadoJogo]
    @CodigoJogo NVARCHAR(20),
    @NovoEstado INT,
    @GolosCasa  INT = NULL,
    @GolosFora  INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ID_Interno INT, @EstadoAtual INT;
    SELECT @ID_Interno = ID, @EstadoAtual = Estado
    FROM Jogo WHERE Codigo_Jogo = @CodigoJogo;

    IF @ID_Interno IS NULL
    BEGIN
        RAISERROR('Erro: Jogo com código "%s" não encontrado.', 16, 1, @CodigoJogo);
        RETURN;
    END

    IF @EstadoAtual IN (3, 4, 5)
    BEGIN
        RAISERROR('Não é possível alterar o estado de um jogo Finalizado, Cancelado ou Adiado.', 16, 1);
        RETURN;
    END

    IF NOT (
        (@EstadoAtual = 1 AND @NovoEstado IN (2, 4, 5)) OR
        (@EstadoAtual = 2 AND @NovoEstado IN (2, 3, 4, 5))  -- permite atualizar golos (2→2)
    )
    BEGIN
        RAISERROR(
            'Transição de estado inválida: não é possível passar de estado %d para %d.',
            16, 1, @EstadoAtual, @NovoEstado
        );
        RETURN;
    END

    -- CORREÇÃO: actualizar estado E golos em curso na tabela Jogo
    UPDATE Jogo
    SET Estado     = @NovoEstado,
        Golos_Casa = ISNULL(@GolosCasa, Golos_Casa),
        Golos_Fora = ISNULL(@GolosFora, Golos_Fora)
    WHERE ID = @ID_Interno;

    -- Quando finaliza: persistir na tabela Resultado e resolver apostas
    IF @NovoEstado = 3
    BEGIN
        -- Usar os golos recebidos ou os que já estão na tabela Jogo
        DECLARE @GC INT, @GF INT;
        SELECT @GC = ISNULL(@GolosCasa, Golos_Casa),
               @GF = ISNULL(@GolosFora, Golos_Fora)
        FROM Jogo WHERE ID = @ID_Interno;

        IF @GC IS NULL SET @GC = 0;
        IF @GF IS NULL SET @GF = 0;

        IF EXISTS (SELECT 1 FROM Resultado WHERE ID_Jogo = @ID_Interno)
            UPDATE Resultado
            SET Golos_Casa = @GC, Golos_Fora = @GF, Data_Atualizacao = GETDATE()
            WHERE ID_Jogo = @ID_Interno;
        ELSE
            INSERT INTO Resultado (ID_Jogo, Golos_Casa, Golos_Fora)
            VALUES (@ID_Interno, @GC, @GF);

        DECLARE @Res CHAR(1) = CASE
            WHEN @GC > @GF THEN '1'
            WHEN @GC < @GF THEN '2'
            ELSE 'X'
        END;

        UPDATE Aposta SET Estado = 2 WHERE ID_Jogo = @ID_Interno AND Tipo_Aposta =  @Res AND Estado = 1;
        UPDATE Aposta SET Estado = 3 WHERE ID_Jogo = @ID_Interno AND Tipo_Aposta <> @Res AND Estado = 1;
    END

    -- Quando cancelado/adiado: anular apostas pendentes
    IF @NovoEstado IN (4, 5)
    BEGIN
        UPDATE Aposta SET Estado = 4 WHERE ID_Jogo = @ID_Interno AND Estado = 1;
    END
END;

GO
/****** Objeto:  StoredProcedure [dbo].[SP_CancelarAposta]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CancelarAposta]
    @ID_Aposta INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Aposta WHERE ID = @ID_Aposta AND Estado = 1)
    BEGIN RAISERROR('Aposta não encontrada ou já não está pendente.', 16, 1); RETURN; END

    IF NOT EXISTS (
        SELECT 1 FROM Aposta A
        INNER JOIN Jogo J ON A.ID_Jogo = J.ID
        WHERE A.ID = @ID_Aposta AND J.Estado = 1
    )
    BEGIN RAISERROR('Não é possível cancelar — o jogo já não está Agendado.', 16, 1); RETURN; END

    UPDATE Aposta SET Estado = 4 WHERE ID = @ID_Aposta;

    -- Devolver dados financeiros para o evento Kafka
    SELECT
        A.ID              AS ID_Aposta,
        A.ID_Utilizador,
        A.Tipo_Aposta,
        A.Montante,
        A.Odd_Momento,
        J.Codigo_Jogo
    FROM Aposta A
    INNER JOIN Jogo J ON A.ID_Jogo = J.ID
    WHERE A.ID = @ID_Aposta;
END;

GO
/****** Objeto:  StoredProcedure [dbo].[SP_ConsultarApostas]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. SP_ConsultarApostas
CREATE PROCEDURE [dbo].[SP_ConsultarApostas]
    @User       INT      = NULL,
    @Jogo       INT      = NULL,
    @Estado     INT      = NULL,
    @DataInicio DATETIME = NULL,
    @DataFim    DATETIME = NULL
AS
BEGIN
    SELECT
        A.*,
        A.Montante * A.Odd_Momento AS Premio_Potencial
    FROM Aposta A
    WHERE (@User       IS NULL OR A.ID_Utilizador  = @User)
      AND (@Jogo       IS NULL OR A.ID_Jogo        = @Jogo)
      AND (@Estado     IS NULL OR A.Estado         = @Estado)
      AND (@DataInicio IS NULL OR A.Data_Realizacao >= @DataInicio)
      AND (@DataFim    IS NULL OR A.Data_Realizacao <= @DataFim);
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_ConsultarEstatisticasPorCompeticao]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 12. SP_ConsultarEstatisticasPorCompeticao
CREATE PROCEDURE [dbo].[SP_ConsultarEstatisticasPorCompeticao]
    @Competicao NVARCHAR(50)
AS
BEGIN
    DECLARE @TotalJogos INT;
    SELECT @TotalJogos = COUNT(*)
    FROM Jogo WHERE Tipo_Competicao = @Competicao AND Estado = 3;

    SELECT
        COUNT(j.ID)                                                                AS TotalJogos,
        AVG(CAST(r.Golos_Casa + r.Golos_Fora AS DECIMAL(10,2)))                   AS MediaGolosPorJogo,
        ISNULL(SUM(a.Montante), 0)                                                AS VolumeTotalApostado,
        CAST(SUM(CASE WHEN r.Golos_Casa > r.Golos_Fora THEN 1 ELSE 0 END) * 100.0
             / NULLIF(@TotalJogos, 0) AS DECIMAL(5,2))                            AS TaxaVitoriaCasa,
        CAST(SUM(CASE WHEN r.Golos_Casa = r.Golos_Fora THEN 1 ELSE 0 END) * 100.0
             / NULLIF(@TotalJogos, 0) AS DECIMAL(5,2))                            AS TaxaEmpate,
        CAST(SUM(CASE WHEN r.Golos_Fora > r.Golos_Casa THEN 1 ELSE 0 END) * 100.0
             / NULLIF(@TotalJogos, 0) AS DECIMAL(5,2))                            AS TaxaVitoriaFora
    FROM Jogo j
    LEFT JOIN Resultado r ON j.ID = r.ID_Jogo
    LEFT JOIN Aposta    a ON j.ID = a.ID_Jogo
    WHERE j.Tipo_Competicao = @Competicao AND j.Estado = 3
    GROUP BY j.Tipo_Competicao;
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_ConsultarJogos]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── 3. SP_ConsultarJogos — devolve golos directamente da tabela Jogo ─────────
CREATE PROCEDURE [dbo].[SP_ConsultarJogos]
    @Data   DATE         = NULL,
    @Estado INT          = NULL,
    @Comp   NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        J.ID,
        J.Codigo_Jogo,
        J.Data_Inicio,
        J.Hora_Inicio,
        J.Equipa_Casa,
        J.Equipa_Fora,
        J.Tipo_Competicao,
        J.Estado,
        J.Golos_Casa,   -- directamente da tabela Jogo (actualizados em tempo real)
        J.Golos_Fora,
        (SELECT COUNT(*) FROM Aposta A WHERE A.ID_Jogo = J.ID AND A.Estado = 1) AS ApostasPendentes,
        (SELECT ISNULL(SUM(A.Montante), 0) FROM Aposta A WHERE A.ID_Jogo = J.ID) AS VolumeTotalApostado
    FROM Jogo J
    WHERE (@Data   IS NULL OR J.Data_Inicio     = @Data)
      AND (@Estado IS NULL OR J.Estado          = @Estado)
      AND (@Comp   IS NULL OR J.Tipo_Competicao = @Comp);
END;

GO
/****** Objeto:  StoredProcedure [dbo].[SP_ConsultarSaldo]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 13. SP_ConsultarSaldo
CREATE PROCEDURE [dbo].[SP_ConsultarSaldo]
    @ID_Utilizador INT
AS
BEGIN
    SELECT Saldo, Data_Ultima_Atualizacao
    FROM Pagamentos.dbo.Saldo_Utilizador
    WHERE ID_Utilizador = @ID_Utilizador;
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_CriarUtilizador]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 14. SP_CriarUtilizador
CREATE PROCEDURE [dbo].[SP_CriarUtilizador]
    @Nome  NVARCHAR(100),
    @Email NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Utilizador WHERE Nome = @Nome)
    BEGIN RAISERROR('Já existe uma conta com esse nome.', 16, 1); RETURN; END

    IF EXISTS (SELECT 1 FROM Utilizador WHERE Email = @Email)
    BEGIN RAISERROR('Já existe uma conta com esse email.', 16, 1); RETURN; END

    DECLARE @NovoID INT;

    BEGIN TRANSACTION;
    BEGIN TRY
        SELECT @NovoID = ISNULL(MAX(ID_Utilizador), 0) + 1
        FROM Utilizador WITH (TABLOCKX);

        INSERT INTO Utilizador (ID_Utilizador, Nome, Email)
        VALUES (@NovoID, @Nome, @Email);

        INSERT INTO Pagamentos.dbo.Saldo_Utilizador (ID_Utilizador, Saldo)
        VALUES (@NovoID, 50.00);

        INSERT INTO Pagamentos.dbo.Transacao (ID_Utilizador, Tipo, Valor, Estado)
        VALUES (@NovoID, 'DE', 50.00, 2);

        COMMIT TRANSACTION;
        SELECT @NovoID AS ID_Utilizador;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @Msg NVARCHAR(2048) = ERROR_MESSAGE();
        DECLARE @Sev INT            = ERROR_SEVERITY();
        DECLARE @Sta INT            = ERROR_STATE();
        RAISERROR(@Msg, @Sev, @Sta);
    END CATCH
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_Depositar]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Depositar]
    @ID_Utilizador INT,
    @Valor         DECIMAL(10, 2)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Valor <= 0
    BEGIN RAISERROR('O valor do depósito deve ser maior que zero.', 16, 1); RETURN; END

    IF NOT EXISTS (SELECT 1 FROM dbo.Utilizador WHERE ID_Utilizador = @ID_Utilizador)
    BEGIN RAISERROR('Utilizador %d não encontrado.', 16, 1, @ID_Utilizador); RETURN; END

    IF NOT EXISTS (SELECT 1 FROM Pagamentos.dbo.Saldo_Utilizador WHERE ID_Utilizador = @ID_Utilizador)
    BEGIN RAISERROR('Registo de saldo não encontrado para o utilizador %d.', 16, 1, @ID_Utilizador); RETURN; END

    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE Pagamentos.dbo.Saldo_Utilizador
        SET Saldo                   = Saldo + @Valor,
            Data_Ultima_Atualizacao = GETDATE()
        WHERE ID_Utilizador = @ID_Utilizador;

        INSERT INTO Pagamentos.dbo.Transacao (ID_Utilizador, Tipo, Valor, Estado)
        VALUES (@ID_Utilizador, 'DE', @Valor, 2);

        COMMIT TRANSACTION;

        SELECT Saldo, Data_Ultima_Atualizacao
        FROM Pagamentos.dbo.Saldo_Utilizador
        WHERE ID_Utilizador = @ID_Utilizador;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @Msg NVARCHAR(2048) = ERROR_MESSAGE();
        DECLARE @Sev INT            = ERROR_SEVERITY();
        DECLARE @Sta INT            = ERROR_STATE();
        RAISERROR(@Msg, @Sev, @Sta);
    END CATCH
END;

GO
/****** Objeto:  StoredProcedure [dbo].[SP_DetalheAposta]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9. SP_DetalheAposta
CREATE PROCEDURE [dbo].[SP_DetalheAposta]
    @ID_Aposta INT
AS
BEGIN
    SELECT
        A.ID, A.ID_Jogo, A.ID_Utilizador,
        A.Tipo_Aposta, A.Montante, A.Odd_Momento,
        A.Montante * A.Odd_Momento AS Premio_Potencial,
        A.Estado, A.Data_Realizacao,
        J.Codigo_Jogo, J.Equipa_Casa, J.Equipa_Fora, J.Estado AS Estado_Jogo
    FROM Aposta A
    INNER JOIN Jogo J ON A.ID_Jogo = J.ID
    WHERE A.ID = @ID_Aposta;
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_DetalheJogo]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── 4. SP_DetalheJogo — fonte única: tabela Jogo (não tabela Resultado) ───────
-- Durante o jogo os golos estão em Jogo.Golos_Casa/Fora
-- Após finalizar também estão em Resultado — mas usamos sempre Jogo para consistência
CREATE PROCEDURE [dbo].[SP_DetalheJogo]
    @CodigoJogo NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        J.ID,
        J.Codigo_Jogo,
        J.Data_Inicio,
        J.Hora_Inicio,
        J.Equipa_Casa,
        J.Equipa_Fora,
        J.Tipo_Competicao,
        J.Estado,
        J.Golos_Casa,   -- fonte única: tabela Jogo
        J.Golos_Fora,
        (SELECT COUNT(*) FROM Aposta A WHERE A.ID_Jogo = J.ID AND A.Estado = 1) AS ApostasPendentes,
        (SELECT ISNULL(SUM(A.Montante), 0) FROM Aposta A WHERE A.ID_Jogo = J.ID) AS VolumeTotalApostado
    FROM Jogo J
    WHERE J.Codigo_Jogo = @CodigoJogo;
END;

GO
/****** Objeto:  StoredProcedure [dbo].[SP_DetalheResultado]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DetalheResultado]
    @CodigoJogo NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Jogo WHERE Codigo_Jogo = @CodigoJogo)
    BEGIN RAISERROR('Jogo "%s" não encontrado.', 16, 1, @CodigoJogo); RETURN; END

    SELECT
        J.Codigo_Jogo,
        J.Equipa_Casa,
        J.Equipa_Fora,
        J.Tipo_Competicao,
        J.Estado                                      AS Estado_Jogo,
        R.Golos_Casa,
        R.Golos_Fora,
        CASE
            WHEN R.Golos_Casa IS NULL         THEN NULL
            WHEN R.Golos_Casa > R.Golos_Fora  THEN '1'
            WHEN R.Golos_Fora > R.Golos_Casa  THEN '2'
            ELSE 'X'
        END                                           AS Resultado_Final,
        R.Data_Atualizacao
    FROM dbo.Jogo J
    LEFT JOIN dbo.Resultado R ON J.ID = R.ID_Jogo
    WHERE J.Codigo_Jogo = @CodigoJogo;
END;

GO
/****** Objeto:  StoredProcedure [dbo].[SP_EstatisticasPorJogo]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 10. SP_EstatisticasPorJogo
CREATE PROCEDURE [dbo].[SP_EstatisticasPorJogo]
    @ID_Jogo INT
AS
BEGIN
    SELECT
        ISNULL(SUM(Montante), 0)                                      AS TotalApostado,
        SUM(CASE WHEN Tipo_Aposta = '1' THEN 1 ELSE 0 END)            AS ApostasTipo1,
        SUM(CASE WHEN Tipo_Aposta = 'X' THEN 1 ELSE 0 END)            AS ApostasTipoX,
        SUM(CASE WHEN Tipo_Aposta = '2' THEN 1 ELSE 0 END)            AS ApostasTipo2,
        SUM(CASE WHEN Estado = 1 THEN 1 ELSE 0 END)                   AS ApostasPendentes,
        SUM(CASE WHEN Estado = 2 THEN 1 ELSE 0 END)                   AS ApostasGanhas,
        SUM(CASE WHEN Estado = 3 THEN 1 ELSE 0 END)                   AS ApostasPerdidas,
        SUM(CASE WHEN Estado = 4 THEN 1 ELSE 0 END)                   AS ApostasAnuladas,
        ISNULL(SUM(Montante), 0) - ISNULL((
            SELECT SUM(T.Valor)
            FROM Pagamentos.dbo.Transacao T
            INNER JOIN Aposta A2 ON T.ID_Aposta = A2.ID
            WHERE A2.ID_Jogo = @ID_Jogo AND T.Tipo = 'PG'
        ), 0)                                                          AS MargemJogo
    FROM Aposta
    WHERE ID_Jogo = @ID_Jogo;
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_FinalizarJogo]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. SP_FinalizarJogo (usado pelo RabbitMQ Worker)
CREATE PROCEDURE [dbo].[SP_FinalizarJogo]
    @CodigoJogo NVARCHAR(20),
    @GolosCasa  INT,
    @GolosFora  INT,
    @NovoEstado INT
AS
BEGIN
    DECLARE @ID_Interno INT;
    SELECT @ID_Interno = ID FROM Jogo WHERE Codigo_Jogo = @CodigoJogo;

    IF @ID_Interno IS NULL
    BEGIN
        PRINT 'Erro: Jogo com código ' + @CodigoJogo + ' não encontrado.';
        RETURN;
    END

    UPDATE Jogo SET Estado = @NovoEstado WHERE ID = @ID_Interno;

    IF EXISTS (SELECT 1 FROM Resultado WHERE ID_Jogo = @ID_Interno)
        UPDATE Resultado SET Golos_Casa = @GolosCasa, Golos_Fora = @GolosFora, Data_Atualizacao = GETDATE()
        WHERE ID_Jogo = @ID_Interno;
    ELSE
        INSERT INTO Resultado (ID_Jogo, Golos_Casa, Golos_Fora) VALUES (@ID_Interno, @GolosCasa, @GolosFora);

    IF @NovoEstado = 3
    BEGIN
        DECLARE @Res CHAR(1) = CASE
            WHEN @GolosCasa > @GolosFora THEN '1'
            WHEN @GolosCasa < @GolosFora THEN '2'
            ELSE 'X'
        END;
        UPDATE Aposta SET Estado = 2 WHERE ID_Jogo = @ID_Interno AND Tipo_Aposta =  @Res AND Estado = 1;
        UPDATE Aposta SET Estado = 3 WHERE ID_Jogo = @ID_Interno AND Tipo_Aposta <> @Res AND Estado = 1;
    END
END;
GO
/****** Objeto:  StoredProcedure [dbo].[SP_InserirAposta]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 15. SP_InserirAposta
CREATE PROCEDURE [dbo].[SP_InserirAposta]
    @CodigoJogo    NVARCHAR(20),
    @ID_Utilizador INT,
    @Tipo          CHAR(1),
    @Montante      DECIMAL(10,2),
    @Odd           DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Montante <= 0
    BEGIN RAISERROR('O montante apostado deve ser maior que zero.', 16, 1); RETURN; END

    IF @Odd <= 1.0
    BEGIN RAISERROR('A odd deve ser maior que 1.0.', 16, 1); RETURN; END

    IF @Tipo NOT IN ('1','X','2')
    BEGIN RAISERROR('Tipo de aposta inválido. Deve ser ''1'', ''X'' ou ''2''.', 16, 1); RETURN; END

    DECLARE @ID_Interno INT;
    SELECT @ID_Interno = ID FROM Jogo WHERE Codigo_Jogo = @CodigoJogo;

    IF @ID_Interno IS NULL
    BEGIN RAISERROR('Jogo com o código fornecido não existe.', 16, 1); RETURN; END

    DECLARE @EstadoJogo INT;
    SELECT @EstadoJogo = Estado FROM Jogo WHERE ID = @ID_Interno;
    IF @EstadoJogo <> 1
    BEGIN RAISERROR('Não é possível apostar — o jogo não está no estado Agendado.', 16, 1); RETURN; END

    DECLARE @SaldoAtual DECIMAL(10,2);
    SELECT @SaldoAtual = Saldo FROM Pagamentos.dbo.Saldo_Utilizador WHERE ID_Utilizador = @ID_Utilizador;
    IF @SaldoAtual IS NULL
    BEGIN RAISERROR('Utilizador não existe no sistema de pagamentos.', 16, 1); RETURN; END
    IF @SaldoAtual < @Montante
    BEGIN RAISERROR('Saldo insuficiente para realizar esta aposta.', 16, 1); RETURN; END

    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Aposta (ID_Jogo, ID_Utilizador, Tipo_Aposta, Montante, Odd_Momento, Estado)
        VALUES (@ID_Interno, @ID_Utilizador, @Tipo, @Montante, @Odd, 1);

        DECLARE @NovaApostaID INT = SCOPE_IDENTITY();

        UPDATE Pagamentos.dbo.Saldo_Utilizador
        SET Saldo = Saldo - @Montante, Data_Ultima_Atualizacao = GETDATE()
        WHERE ID_Utilizador = @ID_Utilizador;

        INSERT INTO Pagamentos.dbo.Transacao (ID_Aposta, ID_Utilizador, Tipo, Valor, Estado)
        VALUES (@NovaApostaID, @ID_Utilizador, 'AP', @Montante, 2);

        COMMIT TRANSACTION;
        SELECT @NovaApostaID AS ID_Aposta;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION; THROW;
    END CATCH
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_InserirJogo]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── Stored Procedures ─────────────────────────────────────────

-- 1. SP_InserirJogo
CREATE PROCEDURE [dbo].[SP_InserirJogo]
    @Codigo NVARCHAR(20),
    @Data   DATE,
    @Hora   TIME,
    @Casa   NVARCHAR(100),
    @Fora   NVARCHAR(100),
    @Comp   NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Jogo WHERE Codigo_Jogo = @Codigo)
    BEGIN
        RAISERROR('Já existe um jogo com o código "%s". Inserção rejeitada.', 16, 1, @Codigo);
        RETURN;
    END
    INSERT INTO Jogo (Codigo_Jogo, Data_Inicio, Hora_Inicio, Equipa_Casa, Equipa_Fora, Tipo_Competicao, Estado)
    VALUES (@Codigo, @Data, @Hora, @Casa, @Fora, @Comp, 1);
    SELECT SCOPE_IDENTITY() AS ID;
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_InserirResultado]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InserirResultado]
    @CodigoJogo NVARCHAR(20),
    @GolosCasa  INT,
    @GolosFora  INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ID_Interno INT, @EstadoJogo INT;
    SELECT @ID_Interno = ID, @EstadoJogo = Estado
    FROM dbo.Jogo WHERE Codigo_Jogo = @CodigoJogo;

    IF @ID_Interno IS NULL
    BEGIN RAISERROR('Jogo "%s" não encontrado.', 16, 1, @CodigoJogo); RETURN; END

    IF @EstadoJogo <> 3
    BEGIN
        RAISERROR(
            'Só é permitido inserir resultado num jogo Finalizado (estado 3). Estado atual: %d.',
            16, 1, @EstadoJogo);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.Resultado WHERE ID_Jogo = @ID_Interno)
    BEGIN RAISERROR('Já existe resultado para o jogo "%s". Inserção rejeitada.', 16, 1, @CodigoJogo); RETURN; END

    INSERT INTO dbo.Resultado (ID_Jogo, Golos_Casa, Golos_Fora)
    VALUES (@ID_Interno, @GolosCasa, @GolosFora);

    SELECT R.ID_Jogo, J.Codigo_Jogo, R.Golos_Casa, R.Golos_Fora, R.Data_Atualizacao
    FROM dbo.Resultado R
    INNER JOIN dbo.Jogo J ON R.ID_Jogo = J.ID
    WHERE R.ID_Jogo = @ID_Interno;
END;

GO
/****** Objeto:  StoredProcedure [dbo].[SP_Login]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 16. SP_Login
CREATE PROCEDURE [dbo].[SP_Login]
    @Nome  NVARCHAR(100),
    @Email NVARCHAR(200)
AS
BEGIN
    SELECT ID_Utilizador, Nome, Email
    FROM Utilizador
    WHERE Nome = @Nome AND Email = @Email;
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_ObterEstatisticas]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 11. SP_ObterEstatisticas
CREATE PROCEDURE [dbo].[SP_ObterEstatisticas]
AS
BEGIN
    DECLARE @TotalPago DECIMAL(10,2);
    SELECT @TotalPago = ISNULL(SUM(Valor), 0)
    FROM Pagamentos.dbo.Transacao WHERE Tipo = 'PG';

    SELECT
        COUNT(*)                   AS TotalApostas,
        ISNULL(SUM(Montante), 0)   AS VolumeTotal,
        @TotalPago                 AS TotalPagoPremios,
        ISNULL(SUM(Montante), 0) - @TotalPago AS MargemPlataforma
    FROM Aposta;
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_RemoverJogo]    Data do Script: 02/06/2026 22:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. SP_RemoverJogo
CREATE PROCEDURE [dbo].[SP_RemoverJogo]
    @CodigoJogo NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ID_Interno INT;
    SELECT @ID_Interno = ID FROM Jogo WHERE Codigo_Jogo = @CodigoJogo AND Estado = 1;

    IF @ID_Interno IS NULL
    BEGIN RAISERROR('Jogo não encontrado ou não está no estado Agendado.', 16, 1); RETURN; END

    IF EXISTS (SELECT 1 FROM Aposta WHERE ID_Jogo = @ID_Interno)
    BEGIN RAISERROR('Não é possível remover o jogo: existem apostas associadas.', 16, 1); RETURN; END

    DELETE FROM Jogo WHERE ID = @ID_Interno;
END
GO
USE [master]
GO
