USE [Apostas]
GO
/****** Objeto:  Trigger [dbo].[TRG_PagarPremios]    Data do Script: 02/06/2026 22:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[TRG_PagarPremios]
ON [dbo].[Aposta]
AFTER UPDATE
AS
BEGIN
    IF UPDATE(Estado)
    BEGIN
        SET NOCOUNT ON;

        -- ── APOSTA GANHA (Estado 2): creditar Montante × Odd ───────────────
        -- A guarda D.Estado = 1 garante que só actua quando o estado
        -- transita de Pendente(1) → Ganha(2), evitando disparos duplos.
        UPDATE S
        SET S.Saldo                   = S.Saldo + (I.Montante * I.Odd_Momento),
            S.Data_Ultima_Atualizacao = GETDATE()
        FROM Pagamentos.dbo.Saldo_Utilizador S
        INNER JOIN inserted I ON S.ID_Utilizador = I.ID_Utilizador
        INNER JOIN deleted  D ON I.Id = D.Id
        WHERE I.Estado = 2 AND D.Estado = 1;

        INSERT INTO Pagamentos.dbo.Transacao (ID_Aposta, ID_Utilizador, Tipo, Valor, Estado)
        SELECT I.Id, I.ID_Utilizador, 'PG', (I.Montante * I.Odd_Momento), 2
        FROM inserted I
        INNER JOIN deleted D ON I.Id = D.Id
        WHERE I.Estado = 2 AND D.Estado = 1;

        -- ── APOSTA ANULADA (Estado 4): reembolsar Montante apostado ────────
        UPDATE S
        SET S.Saldo                   = S.Saldo + I.Montante,
            S.Data_Ultima_Atualizacao = GETDATE()
        FROM Pagamentos.dbo.Saldo_Utilizador S
        INNER JOIN inserted I ON S.ID_Utilizador = I.ID_Utilizador
        INNER JOIN deleted  D ON I.Id = D.Id
        WHERE I.Estado = 4 AND D.Estado = 1;

        INSERT INTO Pagamentos.dbo.Transacao (ID_Aposta, ID_Utilizador, Tipo, Valor, Estado)
        SELECT I.Id, I.ID_Utilizador, 'RE', I.Montante, 2
        FROM inserted I
        INNER JOIN deleted D ON I.Id = D.Id
        WHERE I.Estado = 4 AND D.Estado = 1;

        -- ── APOSTA PERDIDA (Estado 3): sem acção ───────────────────────────
        -- O débito (transação tipo AP) já foi feito em SP_InserirAposta.
    END
END;
