USE [master]
GO
/****** Objeto:  Database [Pagamentos]    Data do Script: 02/06/2026 22:46:11 ******/
CREATE DATABASE [Pagamentos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pagamentos', FILENAME = N'/var/opt/mssql/data/Pagamentos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pagamentos_log', FILENAME = N'/var/opt/mssql/data/Pagamentos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pagamentos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pagamentos]
GO
/****** Objeto:  Table [dbo].[Saldo_Utilizador]    Data do Script: 02/06/2026 22:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saldo_Utilizador](
	[ID_Utilizador] [int] NOT NULL,
	[Saldo] [decimal](10, 2) NOT NULL,
	[Data_Ultima_Atualizacao] [datetime] NULL,
 CONSTRAINT [PK_Saldo_Utilizador] PRIMARY KEY CLUSTERED 
(
	[ID_Utilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Transacao]    Data do Script: 02/06/2026 22:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacao](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Aposta] [int] NULL,
	[ID_Utilizador] [int] NOT NULL,
	[Tipo] [char](2) NOT NULL,
	[Valor] [decimal](10, 2) NOT NULL,
	[Data_Hora] [datetime] NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Transacao] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Saldo_Utilizador] ADD  DEFAULT ((0.00)) FOR [Saldo]
GO
ALTER TABLE [dbo].[Saldo_Utilizador] ADD  DEFAULT (getdate()) FOR [Data_Ultima_Atualizacao]
GO
ALTER TABLE [dbo].[Transacao] ADD  DEFAULT (getdate()) FOR [Data_Hora]
GO
ALTER TABLE [dbo].[Transacao]  WITH CHECK ADD  CONSTRAINT [FK_Transacao_Saldo] FOREIGN KEY([ID_Utilizador])
REFERENCES [dbo].[Saldo_Utilizador] ([ID_Utilizador])
GO
ALTER TABLE [dbo].[Transacao] CHECK CONSTRAINT [FK_Transacao_Saldo]
GO
ALTER TABLE [dbo].[Saldo_Utilizador]  WITH CHECK ADD  CONSTRAINT [CHK_Saldo_Nao_Negativo] CHECK  (([Saldo]>=(0)))
GO
ALTER TABLE [dbo].[Saldo_Utilizador] CHECK CONSTRAINT [CHK_Saldo_Nao_Negativo]
GO
ALTER TABLE [dbo].[Transacao]  WITH CHECK ADD  CONSTRAINT [CHK_Transacao_Tipo] CHECK  (([Tipo]='LV' OR [Tipo]='DE' OR [Tipo]='RE' OR [Tipo]='PG' OR [Tipo]='AP'))
GO
ALTER TABLE [dbo].[Transacao] CHECK CONSTRAINT [CHK_Transacao_Tipo]
GO
ALTER TABLE [dbo].[Transacao]  WITH CHECK ADD  CONSTRAINT [CHK_Transacao_Valor] CHECK  (([Valor]>(0)))
GO
ALTER TABLE [dbo].[Transacao] CHECK CONSTRAINT [CHK_Transacao_Valor]
GO
USE [master]
GO
