USE [master]
GO
/****** Objeto:  Database [Resultados]    Data do Script: 02/06/2026 22:46:42 ******/
CREATE DATABASE [Resultados]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Resultados', FILENAME = N'/var/opt/mssql/data/Resultados.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Resultados_log', FILENAME = N'/var/opt/mssql/data/Resultados_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Resultados].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Resultados]
GO
/****** Objeto:  Table [dbo].[Jogo]    Data do Script: 02/06/2026 22:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_Jogo] [nvarchar](20) NOT NULL,
	[Data_Inicio] [date] NOT NULL,
	[Hora_Inicio] [time](7) NOT NULL,
	[Equipa_Casa] [nvarchar](100) NOT NULL,
	[Equipa_Fora] [nvarchar](100) NOT NULL,
	[Competicao] [nvarchar](50) NULL,
	[Estado] [int] NOT NULL,
	[Golos_Casa] [int] NULL,
	[Golos_Fora] [int] NULL,
	[Data_Atualizacao] [datetime] NULL,
 CONSTRAINT [PK_Jogo_Resultados] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Jogo_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo_Jogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Jogo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Jogo] ADD  DEFAULT (getdate()) FOR [Data_Atualizacao]
GO
/****** Objeto:  StoredProcedure [dbo].[SP_AtualizarJogo]    Data do Script: 02/06/2026 22:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AtualizarJogo]
    @Codigo     NVARCHAR(20),
    @NovoEstado INT,
    @GolosCasa  INT = NULL,
    @GolosFora  INT = NULL
AS
BEGIN
    DECLARE @EstadoAtual INT;
    SELECT @EstadoAtual = Estado FROM Jogo WHERE Codigo_Jogo = @Codigo;

    IF @EstadoAtual IS NULL
    BEGIN RAISERROR('Jogo não encontrado.', 16, 1); RETURN; END

    IF @EstadoAtual IN (3, 4, 5)
    BEGIN RAISERROR('Não é possível alterar o estado de um jogo Finalizado, Cancelado ou Adiado.', 16, 1); RETURN; END

    UPDATE Jogo
    SET Estado           = @NovoEstado,
        Golos_Casa       = ISNULL(@GolosCasa, Golos_Casa),
        Golos_Fora       = ISNULL(@GolosFora, Golos_Fora),
        Data_Atualizacao = GETDATE()
    WHERE Codigo_Jogo = @Codigo;
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_DetalheJogo]    Data do Script: 02/06/2026 22:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DetalheJogo]
    @Codigo NVARCHAR(20)
AS
BEGIN
    SELECT * FROM Jogo WHERE Codigo_Jogo = @Codigo;
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_InserirJogo]    Data do Script: 02/06/2026 22:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── Stored Procedures ─────────────────────────────────────────

CREATE PROCEDURE [dbo].[SP_InserirJogo]
    @Codigo NVARCHAR(20),
    @Data   DATE,
    @Hora   TIME,
    @Casa   NVARCHAR(100),
    @Fora   NVARCHAR(100),
    @Comp   NVARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Jogo WHERE Codigo_Jogo = @Codigo)
    BEGIN
        RAISERROR('Já existe um jogo com este código.', 16, 1); RETURN;
    END
    INSERT INTO Jogo (Codigo_Jogo, Data_Inicio, Hora_Inicio, Equipa_Casa, Equipa_Fora, Competicao, Estado)
    VALUES (@Codigo, @Data, @Hora, @Casa, @Fora, @Comp, 1);
    SELECT SCOPE_IDENTITY() AS ID;
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_ListarJogos]    Data do Script: 02/06/2026 22:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarJogos]
    @Data   DATE = NULL,
    @Estado INT  = NULL
AS
BEGIN
    SELECT * FROM Jogo
    WHERE (@Data   IS NULL OR Data_Inicio = @Data)
      AND (@Estado IS NULL OR Estado      = @Estado);
END
GO
/****** Objeto:  StoredProcedure [dbo].[SP_RemoverJogo]    Data do Script: 02/06/2026 22:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RemoverJogo]
    @Codigo NVARCHAR(20)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Jogo WHERE Codigo_Jogo = @Codigo AND Estado = 1)
    BEGIN RAISERROR('Jogo não encontrado ou não está no estado Agendado.', 16, 1); RETURN; END
    DELETE FROM Jogo WHERE Codigo_Jogo = @Codigo;
END
GO
USE [master]
GO
